<%= stylesheet_link_tag "shared/show_account" , :media => "all" %>

<% if user_signed_in? %>
  <%= link_to  user_path(current_user) , class: "_show_account_account_link" do %>
    <% if current_user.icon_image.attached? %>
      <%= image_tag current_user.icon_image , id: "header_user_icon" %>
    <% else %>
      <%= image_tag "defaults/user_icon_image.png" , id: "header_user_icon" %>
    <% end %>
    <p class = "_show_account_nickname"><%= current_user.nickname %></p>
    <p class = "_show_account_only_account">アカウント</p>
  <% end %>
<% else %>
  <%= link_to "ログイン or 新規登録" , users_path , class: "_show_account_account_link" %>
<% end %>