<%# このテンプレートはtop > show.scssのスタイルシートを使用している %>
<%# 説明の高さや河川の部分についてはtop > explain.scssを使用している %>
<p class = "small_small_section_title">どんなもの？</p>
<div class = "individual_explain">
  　ルンバ氏がこれまでに学んできたプログラミング言語や編集ソフトなどについての解説を見ることができるページになります。また、jQueryの学習をこのページ内で行ったのでちょっと遊べる部分があります。
  <%= image_tag "top/show/skill_room_top.png" , class: "explain_image" %>
  <%= image_tag "top/show/skill_room_jqueries.png" , class: "explain_image" %>
</div>

<p class = "small_small_section_title">使用方法</p>
<div class = "individual_explain">
  特にどうといった機能がないため使用方法というほど使用方法がない案件。見たいページを選択しよう！
  <%= image_tag "top/show/skill_room_top.png" , class: "explain_image" %>
  <%= image_tag "top/show/skill_room_jqueries.png" , class: "explain_image" %>
  jQuery練習ページの４番目から、「ボタンを押したら特定の処理が行われる」ということを実装したのでそこで遊ぶくらいですね。
  <%= image_tag "top/show/skill_room_jquery_detail4.png" , class: "explain_image" %>
  ちなみにjQuery練習ページの６番目がかなり好き。おすすめ。<br>
  <%= link_to "jQuery練習ページ６番目はこちら" , "/skill_room/jquery_practice/6" %>
  <%= image_tag "top/show/skill_room_jquery_detail6.png" , class: "explain_image" %>
</div>

<p class = "small_small_section_title">今後の開発予定</p>
<div class = "individual_explain">
  スキルルームの最初にある、「技術の無駄遣い」というところで遊んでみたいと思ってる。無駄に変化の多いページを作成したり、すごい感じのアニメーションを連続させたりして面白いページを作ってみたい。
</div>