<%# 横並びにする、上部分に固定する %>
<header>
  <h3>ルンバの家</h3>
  <%= link_to "アカウント"  %>
</header>

<section class = "main_content">
  <%# ここにパンくずリストを表示する %>
  <%= render partial: "shared/link" , locals:{image: "stickman_war.png" , link: stickman_war_index_path , title: "棒バトチャレンジ"} %>
  <%= render partial: "shared/link" , locals:{image: nil , link: nil , title: "動画投稿"} %>
  <%= render partial: "shared/link" , locals:{image: nil , link: nil , title: "チャットルーム"} %>
  <%= render partial: "shared/link" , locals:{image: nil , link: nil , title: "リクエスト"} %>
  <%= render partial: "shared/link" , locals:{image: nil , link: nil , title: "プログラミング学習記録"} %>
  <%= render partial: "shared/link" , locals:{image: nil , link: nil , title: "リクエスト"} %>
</section>















