<%# 横並びにする、上部分に固定する %>
<%= stylesheet_link_tag "top/index", :media => "all" %>
<header>
  <div class = header_inside>
    <h3 class = "header_title">Runba's Home</h3>
    <%= link_to "アカウント" , users_path , id: "account_link" %>
  </div>
</header>

<div class = "main_content">
  <h3 class = "section_title">Runba's Homeトップページ</h3>
  <%# ここにパンくずリストを表示する %>


  <%= render partial: "shared/link" , locals:{image: "stickman_war.png" , link: stickman_war_index_path , title: "棒バトチャレンジ"} %>
  <%= render partial: "shared/link" , locals:{image: nil , link: movies_path , title: "動画視聴"} %>
  <%= render partial: "shared/link" , locals:{image: nil , link: groups_path , title: "チャットルーム"} %>
  <%= render partial: "shared/link" , locals:{image: nil , link: new_request_path , title: "リクエスト"} %>
  <%= render partial: "shared/link" , locals:{image: nil , link: nil , title: "プログラミング学習記録"} %>
  <%= render partial: "shared/link" , locals:{image: nil , link: nil , title: "リクエスト"} %>
</div>















