<%# 横並びにする、上部分に固定する %>
<%= stylesheet_link_tag "shared/common_header" , :media => "all" %>
<%= stylesheet_link_tag "top/index", :media => "all" %>

<%= render partial: "shared/header/root_header" , locals: {title: "Runba's Home"} %>

<div class = "main_content_parent">
  <div class = "main_content">
    <p class = "section_title">トップページ</p>
    <div class = "only_border"></div>
    <%# ここにパンくずリストを表示する %>


    <%= render partial: "shared/link" , locals:{image: "stickman_war.png" , link: stickman_war_index_path , title: "棒バトチャレンジ" , explain: @stickman_war_explain} %>
    <%= render partial: "shared/link" , locals:{image: nil , link: movies_path , title: "動画視聴" , explain: @movie_explain} %>
    <%= render partial: "shared/link" , locals:{image: nil , link: groups_path , title: "チャットルーム" , explain: @group_explain} %>
    <%= render partial: "shared/link" , locals:{image: nil , link: new_request_path , title: "リクエスト" , explain: @request_explain } %>
    <%= render partial: "shared/link" , locals:{image: nil , link: nil , title: "プログラミング学習記録" , explain: @programing_explain} %>
    <%# <%= render partial: "shared/link" , locals:{image: nil , link: nil , title: "リクエスト"} %>
</div>
</div>
















