<%= stylesheet_link_tag "shared/common_header" , :media => "all" %>
<%= stylesheet_link_tag "top/index", :media => "all" %>
<%= stylesheet_link_tag "top/explain" , media: "all" %>

<%= render partial: "shared/header/root_header" , locals: {title: "Runba's Home"} %>
<div class="main_content_parent">
  <div class = "main_content">
    <div class = "center_box">
      <p class = "section_title">機能紹介</p>
      <p class = "small_section_title">このページの内容</p>
      選択するとその紹介部分まで移動できます！
      <div class = "information_parent">
        <div class = "information_link" id = "stickman_war_position">
          <div class = "information_link_image_parent">
            <%= image_tag "stickman_war.png" , class: "information_link_image" %>
          </div>
          棒バトチャレンジ
        </div>
        <div class = "information_link" id = "movie_position">
          <div class = "information_link_image_parent">
            <%= image_tag "top/kiritan_vs_yukarisan.png" , class: "information_link_image" %>
          </div>
          動画視聴
        </div>
        <div class = "information_link" id = "skill_room_position">
          <div class = "information_link_image_parent">
            <%= image_tag "top/skill.png" , class: "information_link_image" %>
          </div>
          スキルルーム
        </div>
        <div class = "information_link" id = "group_position">
          <div class = "information_link_image_parent">
            <%= image_tag "top/chat.png" , class: "information_link_image" %>
          </div>
          チャットルーム
        </div>
        <div class = "information_link" id = "request_position">
          <div class = "information_link_image_parent">
            <%= image_tag "top/mail.png" , class: "information_link_image" %>
          </div>
          リクエスト
        </div>
      </div>
      <%= render partial: "explain_templete" , locals: {title:"棒バトチャレンジ", icon_image:"stickman_war.png" , link:stickman_war_index_path, explain:@stickman_war_explain, templete_name:"explain_stickman_war", title_margin_top:"10px" , scroll_name: "stickman_war_position"} %>
      
      <%= render partial: "explain_templete" , locals: {title:"動画視聴", icon_image:"top/kiritan_vs_yukarisan.png" , link:movies_path, explain:@movie_explain, templete_name:"explain_movie", title_margin_top:"100px" , scroll_name: "movie_position"} %>
      
      <%= render partial: "explain_templete" , locals: {title:"スキルルーム", icon_image:"top/skill.png" , link:skill_room_index_path, explain:@programing_explain, templete_name:"explain_skill_room", title_margin_top:"100px" , scroll_name: "skill_room_position"} %>
      
      <%= render partial: "explain_templete" , locals: {title:"チャットルーム", icon_image:"top/chat.png" , link:groups_path, explain:@group_explain, templete_name:"explain_group", title_margin_top:"100px" , scroll_name: "group_position"} %>
      
      <%= render partial: "explain_templete" , locals: {title:"リクエスト", icon_image:"top/mail.png" , link:new_request_path, explain:@request_explain, templete_name:"explain_request", title_margin_top:"100px" , scroll_name: "request_position"} %>
      
    </div>
  </div>
</div>


<%= stylesheet_link_tag "top/show" , media: "all" %>