<%= stylesheet_link_tag "shared/common_header" , :media => "all" %>
<%= stylesheet_link_tag "top/index", :media => "all" %>
<%= stylesheet_link_tag "top/explain" , media: "all" %>

<%= render partial: "shared/header/root_header" , locals: {title: "Runba's Home"} %>
<div class="main_content_parent">
  <div class = "main_content">
    <div class = "center_box">
      <p class = "section_title">機能紹介</p>
      <p class = "small_section_title">このページの内容</p>
      選択するとその紹介部分まで移動できます！
      <div class = "information_parent">

        <%# 上部の、それぞれの部分へ移動するリンク %>
        <%= render partial: "information_link" , locals: {id: "stickman_war_position" , title: "棒バトチャレンジ" , image: "stickman_war.png"} %>
        <%= render partial: "information_link" , locals: {id: "movie_position" , title: "動画視聴" , image: "top/kiritan_vs_yukarisan.png"} %>
        <%= render partial: "information_link" , locals: {id: "skill_room_position" , title: "スキルルーム" , image: "top/skill.png"} %>
        <%= render partial: "information_link" , locals: {id: "group_position" , title: "チャットルーム" , image: "top/chat.png"} %>
        <%= render partial: "information_link" , locals: {id: "request_position" , title: "ルンバ氏直通意見箱" , image: "top/mail.png"} %>
      </div>

      <%# 詳しい紹介の部分 %>
      <%= render partial: "explain_templete" , locals: {title:"棒バトチャレンジ", icon_image:"stickman_war.png" , link:stickman_war_index_path, explain:@stickman_war_explain, templete_name:"explain_stickman_war", title_margin_top:"10px" , scroll_name: "stickman_war_position"} %>
      <%= render partial: "explain_templete" , locals: {title:"動画視聴", icon_image:"top/kiritan_vs_yukarisan.png" , link:movies_path, explain:@movie_explain, templete_name:"explain_movie", title_margin_top:"100px" , scroll_name: "movie_position"} %>
      <%= render partial: "explain_templete" , locals: {title:"スキルルーム", icon_image:"top/skill.png" , link:skill_room_index_path, explain:@programing_explain, templete_name:"explain_skill_room", title_margin_top:"100px" , scroll_name: "skill_room_position"} %>
      <%= render partial: "explain_templete" , locals: {title:"チャットルーム", icon_image:"top/chat.png" , link:groups_path, explain:@group_explain, templete_name:"explain_group", title_margin_top:"100px" , scroll_name: "group_position"} %>
      <%= render partial: "explain_templete" , locals: {title:"ルンバ氏直通意見箱", icon_image:"top/mail.png" , link:new_request_path, explain:@request_explain, templete_name:"explain_request", title_margin_top:"100px" , scroll_name: "request_position"} %>
      <%= render partial: "explain_templete" , locals: {title:"リクエストボックス", icon_image:"top/post.png" , link:user_all_user_requests_path("index"), explain:@request_explain, templete_name:"explain_all_user_request", title_margin_top:"100px" , scroll_name: "all_user_request_position"} %>
    </div>
  </div>
</div>


<%= stylesheet_link_tag "top/show" , media: "all" %>