<%# 引数 link: リンク先 , title: 表示するタイトル , image: 表示する画像の名前、画像はapp > assets > images に入れておく %>
<%= stylesheet_link_tag "stickman_war/stickman_war_explain" , :media => "all" %>

  <div class = "_stickman_war_explain_parent">
    <div class = "_stickman_war_explain">
      <div class = "_stickman_war_top_image_and_title">
        <% if image != nil %>
          <%= image_tag image , alter: "#{image}という画像はありません" , class: "_stickman_war_top_image" %>
        <% else %>
          <%= image_tag "stickman_war/default.png" , class: "_stickman_war_top_image" %>
        <% end %>
        <p class = "_stickman_war_top_title_text"><%= title %></p>
      </div>

      <div class = "_stickman_war_top_explain">
        <p class = "_stickman_war_top_explain_text"><%= explain %></p>
      </div>
    </div>
  </div>