<%= render partial: "shared/header/stickman_war_header" %>

<div class = "main_content_parent">
  <section class = "main_content">
    <%# パンくずリストをここに表示 %>
    <p class = "section_title">リンク</p>
    <div class = "bredcrumbs_parent">
      <% breadcrumb :stickman_war %>
      <%= breadcrumbs separator: "&rsaquo; " %>
    </div>
    
    <div class = "only_border"></div>
    <div class = "links">
      <%= render partial: "stickman_war/top_link" , locals: {image: "stickman_war/heisi.png" , title: "ベーシックステージ" , link: stickman_war_path("basic") , individual_class: "body_link" , icon_background_color: "linear-gradient(to right bottom , #66ceff , #6585ff)"} %>
      <%= render partial: "stickman_war/top_link" , locals: {image: "stickman_war/samurai.png" , title: "チャレンジステージ" , link: nil , individual_class: "body_link" , icon_background_color: "linear-gradient(to right bottom , red , #660000)"} %>
      <%= render partial: "stickman_war/top_link" , locals: {image: "stickman_war/money.png" , title: "ボーナスステージ" , link: nil , individual_class: "body_link" , icon_background_color: "linear-gradient(to right bottom , #ffe000 , #a58300)"} %>
      <%= render partial: "stickman_war/top_link" , locals: {image: "stickman_war/characters.png" , title: "キャラクターステータス" , link: stickman_war_characters_path , individual_class: "body_link" , icon_background_color: "linear-gradient(to right bottom , #6eff31 , #41af00)"} %>
    </div>

    <div class = "only_border"></div>

    <div class = "explain">
      <%= render partial: "shared/picture_and_explain" , locals: {title: @explain_title1 , explain: @explain_detail1 , length: @explain_length1} %>
      <%= render partial: "shared/picture_and_explain" , locals: {title: @explain_title2 , explain: @explain_detail2 , length: @explain_length2} %>
      <%= render partial: "shared/picture_and_explain" , locals: {title: @explain_title3 , explain: @explain_detail3 , length: @explain_length3} %>
      <%# <%= render partial: "shared/picture_and_explain" , locals: {title: @explain_title4 , explain: @explain_detail4} %>
    </div>


  </section>
</div>

<%= stylesheet_link_tag "stickman_war/index" , :media => "all" %>