<%= stylesheet_link_tag "movies/index" , :media => "all" %>
<%= render partial: "shared/header/movie_header" %>
<div class = "main_content_parent">
  <div class = "main_content">
    <p class = "section_title">動画コーナー</p>
    <div class = "only_border"></div>
    <div class = "bredcrumbs_parent">
      <% breadcrumb :movies %>
      <%= breadcrumbs separator: "&rsaquo; " %>
    </div>
    <%= form_with(url: search_movies_path, local: true, method: :get, class: "movie_search_form") do |f| %>
      <%= f.text_field :keyword , placeholder: "検索する" , class: "movie_search_input" %>
      <%= f.submit "検索" , class: "movie_search_submit" %>
    <% end %>

    <% if @search_movies != nil %>
      <p class = "small_section_title">検索結果</p>
      <%= render partial: "shared/movies/movie_link" , locals: {movies: @search_movies} %>
    <% end %>

    <p class = "small_section_title">おすすめ動画</p>
    <%= render partial: "shared/movies/reccomend_movie_link" , locals: {movies: @reccomend_movies} %>

    <p class = "section_title">投稿動画一覧</p>
      <%= render partial: "shared/movies/movie_link" , locals: {movies: @movies} %>
    <div class = "all_movie_show">
    </div>
  </div>
</div>
