<%= render partial: "shared/header/movie_header" %>
<%= stylesheet_link_tag "movies/show" , :media => "all" %>

<div class = "main_content_parent">
  <div class = "main_content">

    <div class = "bredcrumbs_parent movie_path">
      <% breadcrumb :movie_show , @movie.title , @movie.id %>
      <%= breadcrumbs separator: "&rsaquo; " %>
    </div>
  
    <%# <p class = "section_title movie_title"><%= @movie.title </p> %>
    <iframe class = "movie" src="https://www.youtube.com/embed/<%= @movie.link %>" title="YouTube video player" frameborder="0" scrolling="no" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    <div class = "under_content">
      <p class = "small_section_title">ルンバ氏の一言</p>
      <p class = "explain"><%= "　#{@movie.explain}" %></p>

      <%= form_with  class: "comment_objects" , model: @movie_comment ,  url: movie_movie_comments_path(@movie , @movie_comment), local: true  do |f| %>
        <% unless user_signed_in? %>
          <%= f.text_field :text , readonly: true ,  disable: true , value: "ユーザー登録かサインインしないとコメントできません" %>
        <% else %>
          <%= f.text_area :text , id: "use_adjust" , value: @textarea_inside , class: "comment_text_area" %>
          <%= f.submit "送信" , class: "comment_submit_btn common_simple_button" , id: "submit_button" %>
        <% end %>
      <% end %>

      <div id = "all_coment_parent">
        <% @movie.movie_comments.each do |comment| %>
          <div class = "single_comment_set" id = "single_comment_set_<%= comment.id %>">
            <%= link_to user_path(comment.user) , class:"comment_user_information" do %>
            <% if comment.user == current_user %>
              <%= link_to "削除" , movie_movie_comment_path(@movie , comment) , method: :delete %>
            <% end %>
              <div class = "comment_user_icon_parent" style="display:flex; width: 50px; height:50px;">
                <% if comment.user.icon_image.attached? %>
                  <%= image_tag comment.user.icon_image , class: "comment_user_icon" %>
                <% else %>
                  <%= image_tag "defaults/user_icon_image.png" , class: "comment_user_icon" %>
                <% end %>
              </div>
              <p class = "comment_user_name"><%= comment.user.nickname %></p>
            <% end %>
            <p class = "comment_text hide_scroll_bar"><%= h(comment.text).gsub(/\n|\r\n/, "<br>").html_safe %></p>
          </div>
        <% end %>
      </div>

      
    </div>
  </div>
</div>
