<p class = "small_section_title small_margin_top">Magicのテスト1</p>
<div class = "jquery_practice_detail display_flex" style = "flex-wrap:wrap;justify-content:space-between;">
  <div class="mini_magic_parent" id="magic_test_1">
    <%= image_tag "stickman_war.png" , style: "width:150px;" , class: "magic_image" %>
    <p class = "mini_magic_button puff_in_button">magicを使用</p>
  </div>
  <div class="mini_magic_parent" id="magic_test_2">
    <%= image_tag "stickman_war.png" , style: "width:150px;" , class: "magic_image" %>
    <p class = "mini_magic_button open_down_left">openDownLeftを使用</p>
  </div>
  <div class="mini_magic_parent" id="magic_test_3">
    <%= image_tag "stickman_war.png" , style: "width:150px;" , class: "magic_image" %>
    <p class = "mini_magic_button slide_down">slideDownを使用</p>
  </div>
  <div class="mini_magic_parent" id="magic_test_4">
    <%= image_tag "stickman_war.png" , style: "width:150px;" , class: "magic_image" %>
    <p class = "boing_in_up mini_magic_button">boingInUpを使用</p>
  </div>
</div>

<p class = "small_section_title">Magicのテスト2</p>
<div class = "jquery_practice_detail display_flex" style = "flex-wrap:wrap;align-items:center;flex-direction:column;height:300px;padding:10px;">
  <div class="mini_magic_parent" id="magic_repeat_test_1">
    <%= image_tag "stickman_war.png" , style: "width:150px;" , class: "magic_image" %>
  </div>
    <p class = "mini_magic_button magic_repeat_button">スクリプト始動</p>
</div>