<p class = "small_section_title small_margin_top">Magicのテスト1</p>
<div class = "jquery_practice_detail display_flex" style = "flex-wrap:wrap;">
  <div class="mini_magic_parent" id="magic_test_1">
    <%= image_tag "stickman_war.png" , style: "width:150px;" , class: "magic_image" %>
    <p class = "mini_magic_button puff_in_button">magicを使用</p>
  </div>
  <div class="mini_magic_parent" id="magic_test_2">
    <%= image_tag "stickman_war.png" , style: "width:150px;" , class: "magic_image" %>
    <p class = "mini_magic_button open_down_left">openDownLeftを使用</p>
  </div>
  <div class="mini_magic_parent" id="magic_test_3">
    <%= image_tag "stickman_war.png" , style: "width:150px;" , class: "magic_image" %>
    <p class = "mini_magic_button slide_down">slideDownを使用</p>
  </div>
  <div class="mini_magic_parent" id="magic_test_4">
    <%= image_tag "stickman_war.png" , style: "width:150px;" , class: "magic_image" %>
    <p class = "boing_in_up mini_magic_button">boingInUpを使用</p>
  </div>
</div>

<p class = "small_section_title small_margin_top">Magicのテスト2</p>
<div class = "jquery_practice_detail display_flex" style = "flex-wrap:wrap;">
  <div class="mini_magic_parent" id="magic_test_1">
    <%= image_tag "stickman_war.png" , style: "width:150px;" , class: "magic_image" %>
    <p class = "mini_magic_button puff_in_button">magicを使用</p>
  </div>
  <div class="mini_magic_parent" id="magic_test_2">
    <%= image_tag "stickman_war.png" , style: "width:150px;" , class: "magic_image" %>
    <p class = "mini_magic_button open_down_left">openDownLeftを使用</p>
  </div>
  <div class="mini_magic_parent" id="magic_test_3">
    <%= image_tag "stickman_war.png" , style: "width:150px;" , class: "magic_image" %>
    <p class = "mini_magic_button slide_down">slideDownを使用</p>
  </div>
  <div class="mini_magic_parent" id="magic_test_4">
    <%= image_tag "stickman_war.png" , style: "width:150px;" , class: "magic_image" %>
    <p class = "boing_in_up mini_magic_button">boingInUpを使用</p>
  </div>
</div>