<%= stylesheet_link_tag "groups/main_bar" , :media => "all" %>

<div class = "_main_bar">
  <div class = "top _main_bar_top">
    <% if group != nil %>
      <p class = "_main_bar_group_name"><%= group.name %></p>
      <div class = "_main_bar_group_control_buttons">
        <% if authority >= 2  %>
          <%= link_to "編集" , root_path , class: "_main_bar_edit_button _main_bar_button" %>
        <% end %>

        <% if authority == 5 %>
          <%= link_to "グループ削除" , group_path(group) , method: :delete , class: "_main_bar_delete_button _main_bar_button" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class = "center _main_bar_center">
    <% if group != nil %>
    <% if is_show == true %>
      <%= render partial: "messages" , locals: {group: group} %>
    <% else %>
      <%= render partial: "edit_body" , locals: {group: group} %>
    <% end %>
  <% end %>
  </div>

  <div class = "bottom _main_bar_bottom">
    <% if is_show == true %>
      <%= form_with url: "/groups/#{group.id}/messages" , model: message , method: :post , local: true , class: "_main_bar_form"  do |f| %>
        <%= f.text_area :text , class: "_main_bar_form_text_area" , id: "use_adjust" %>
        <label class = "_main_bar_form_image_button _main_bar_button">画像
          <%= f.file_field :image , class: "hidden" %>
        </label>
        <%= f.submit "送信" , class: "_main_bar_form_submit _main_bar_button" %>
      <% end %>
    <% end %>
  </div>








</div>