<%= stylesheet_link_tag "groups/main_bar" , :media => "all" %>

<div class = "_main_bar">
  <div class = "top _main_bar_top">
    <% if group != nil && is_edit == false %>
      <p class = "_main_bar_group_name"><%= group.name %></p>
      <div class = "_main_bar_group_control_buttons">
        <% if authority >= 2  %>
          <%= link_to "編集" , edit_group_path(group) , class: "_main_bar_edit_button _main_bar_button" %>
        <% end %>

        <% if authority == 5 %>
          <%= link_to "グループ削除" , group_path(group) , method: :delete , class: "_main_bar_delete_button _main_bar_button" %>
        <% end %>
      </div>
    <% elsif is_edit == true %>
      <%# グループを編集する際に表示されるもの %>
      <p class = "_main_bar_group_name">編集：　<%= group.name %></p>
      <div class = "_main_bar_group_control_buttons">
        <% if authority == 5 %>
          <%= link_to "グループ削除" , group_path(group) , method: :delete , class: "_main_bar_delete_button _main_bar_button" %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class = "center _main_bar_center hide_scroll_bar">
    <% if group != nil %>
    <% if is_show == true %>
      <%= render partial: "messages" , locals: {group: group} %>
      <% if group.users.length == 1 %>
        <p>このルームにはあなたしかいません。メモ帳としてでも使ってください。</p>
      <% end %>
    <% elsif is_edit == true %>
      <%# 編集時に表示される部分  %>
      <div class = "members_show">
        <p>このグループのメンバー</p>
        <% group.users.each do |user| %>
          <div class = "single_user">
            <% this_user = GroupUserRelation.find_by(group_id: group.id , user_id: user.id) %>

            <% if current_user == user %>
              <p class = "user_name user_text" style="background-color: #9284de;"><%= user.nickname %></p>
            <% else %>
              <p class = "user_name user_text"><%= user.nickname %></p>
            <% end %>
            <div class = "user_information">

              <% if current_user == user %>
                <p class="user_text">権限:<%= this_user.authority[:name] %></p>
                <%= link_to "退出する" , group_group_user_relation_path(group , user) , method: :delete , class: "user_text user_edit_button destroy quit" %>
              <% else %>
                <% if this_user.authority_id < @group_user_relation.authority_id %>
                  <% if @group_user_relation.authority_id > this_user.authority_id + 1 %>

                    <p class="user_text">権限:<%= this_user.authority[:name] %></p>
                    <%= link_to "権限上昇" , "/groups/#{group.id}/group_user_relations/#{user.id}/up", method: :post , class: "user_text user_edit_button up" %>

                  <% else %>
                    <p class="user_text" style="margin-right: calc( (80px + 3px * 2) * 1);">権限:<%= this_user.authority[:name] %></p>
                  <% end %>
                  <%= link_to "権限制限" , "/groups/#{group.id}/group_user_relations/#{user.id}/down" , method: :post , class: "user_text user_edit_button down" %>
                  <%= link_to "追放" , group_group_user_relation_path(group , user) , method: :delete , class: "user_text user_edit_button destroy" %>
                <% else %>
                  <p class="user_text" style="margin-right: calc( (80px + 3px * 2) * 3);">権限:<%= this_user.authority[:name] %></p>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class = "new_user">
          <%= form_with model: @send_group_user_relation ,  url:group_group_user_relations_path(group) , method: :post , local: true do |f| %>
            <p>新しいユーザーを追加する</p>
            <p>追加するユーザー</p>
            <select class="authority_select" name="group_user_relation[user_id]">
              <% @nil_and_users.each do |user| %>
                <% if user.id != nil %>
                  <option value = <%= user.id %> ><%= user.nickname.slice(0,9) %></option>
                <% else %>
                  <option value = nil ><%= "ユーザーを選択してください" %></option>

                <% end %>
              <% end %>
            </select>

            <p>権限</p>
            <div class = "authority_box">
                <%= f.label :authority_id , "権限：" %>
                <select class="authority_select" name="group_user_relation[authority_id]">
                  <% @authorities.each do |authority| %>
                    <option value = <%= authority[:id] %>><%= authority[:name] %></option>
                  <% end %>
                </select>
                <%# 上のselectは、↓ を参考に作った ↓のもののコメントアウトを外すことはまずない %>
                <%# <%= f.collection_select(:authority_id , Authority.all , :id , :name , {} , {class: "authority_select"} ) %>
            </div>
            <%= f.submit "追加する" %>
          <% end %>
        </div>
      </div>
      <%# 編集時に表示される部分終了 %>
    <% end %>
  <% end %>
  </div>

  <div class = "bottom _main_bar_bottom">
    <% if is_show == true %>
      <%= form_with url: "/groups/#{group.id}/messages" , model: message , method: :post , local: true , class: "_main_bar_form"  do |f| %>
        <%= f.text_area :text , class: "_main_bar_form_text_area" , id: "use_adjust" %>
        <label class = "_main_bar_form_image_button _main_bar_button">画像
          <%= f.file_field :image , class: "hidden" %>
        </label>
        <%= f.submit "送信" , class: "_main_bar_form_submit _main_bar_button" %>
      <% end %>
    <% end %>
  </div>








</div>