<%= stylesheet_link_tag "groups/messages" , :media => "all" %>
<script>
  function hideImageShow(obj){
    search_id = `image_show_${obj.id}`;
    show_object = document.getElementById(search_id);
    console.log(show_object);
    show_object.classList.add('hidden');
  };

  function showBigImage(obj){
    search_id = `image_show_${obj.id}`;
    show_object = document.getElementById(search_id);
    console.log(show_object);
    show_object.classList.remove('hidden');
  }

  function adjustWidthAndHeight(obj){
    // 戻るボタンの高さは50px
    // 画像プレビューエリアのwidthは親✖️0.95
    screenWidth = window.innerWidth;
    screenHeight = window.innerHeight;

    maxWidth = screenWidth * 0.95;
    maxHeight = screenHeight - 50;

    showImage = document.getElementById(`image_show_image_${obj.id}`)
    showImage.removeAttribute('width');
    showImage.removeAttribute('height');

    if(maxWidth > maxHeight){
      console.log("widthの方が大きいのでheightに合わせる");
      showImage.setAttribute('style' , `height: ${maxHeight}px; width: auto;`);
    }
    else{
      console.log("heightの方が大きいのでwidthに合わせる");
      showImage.setAttribute('style' , `width: ${maxWidth}px;height:auto;`);
    }
  }
</script>

  <% group.messages.each do |message| %>
    <div class = "_messages_single_message hide_scroll_bar">
      <div class = "_messages_message_information">
        <%= link_to user_path(message.user) , class: "_messages_user_information" do %>
          <% if message.user.icon_image.attached? %>
            <%= image_tag message.user.icon_image.variant(resize: '500x500') , class: "_message_user_icons" %>
          <% else %>
            <%= image_tag "defaults/user_icon_image.png" , class: "_message_user_icons" %>
          <% end %>
          <%= message.user.nickname %>
        <% end %>
        <p class = "_messages_created_at"><%= message.created_at %></p>
        <% if message.user == @user && message.text != nil %>
          <%= link_to "削除" , group_message_path(group , message) , method: :delete , class: "_messages_message_delete" %>
        <% end %>
      </div>

      <% if message.text != nil %>
        <p class ="_message_text"><%= h(message.text).gsub(/\n|\r\n/, "<br>").html_safe %></p>
        <% if message.image.attached? %>
          <%= image_tag message.image , class: "_message_images" , onClick: "showBigImage(this) , adjustWidthAndHeight(this)" , id: message.id %>

          <div class = "image_show_background hidden" id = "image_show_<%= message.id %>">
            <div class = "image_show_center_object">
              <%= image_tag "back_button.png" , class: "image_show_back_button" , id: "#{message.id}" , onClick: "hideImageShow(this)" %>
              <%= image_tag message.image , class: "image_show_image" , id: "image_show_image_#{message.id}" %>
            </div>
          </div>

        <% end %>
      <% else %>
        <p>メッセージは削除されました</p>
      <% end %>
    </div>
    <div class = "_messages_only_border only_border"></div>
  <% end %>