<%= stylesheet_link_tag "groups/side_bar" , :media => "all" %>

<div class = "_side_bar">
  <div class = "_side_bar_head">
    <p class = "_side_bar_group_title">チャットルーム</p>
  </div>

  <div class = "_side_bar_center hide_scroll_bar">
    <p>所属しているルーム名</p>
    <% user.groups.each do |group| %>
      <%= link_to group.name , group_path(group) , class: "_side_bar_group_name" %>
      <%= link_to group.name , group_path(group) , class: "_side_bar_group_name" %>
      <%= link_to group.name , group_path(group) , class: "_side_bar_group_name" %>
      <%= link_to group.name , group_path(group) , class: "_side_bar_group_name" %>
      <%= link_to group.name , group_path(group) , class: "_side_bar_group_name" %>
      <%= link_to group.name , group_path(group) , class: "_side_bar_group_name" %>
      <%= link_to group.name , group_path(group) , class: "_side_bar_group_name" %>
      <%= link_to group.name , group_path(group) , class: "_side_bar_group_name" %>
      <%= link_to group.name , group_path(group) , class: "_side_bar_group_name" %>
      <%= link_to group.name , group_path(group) , class: "_side_bar_group_name" %>
      <%= link_to group.name , group_path(group) , class: "_side_bar_group_name" %>
      <%= link_to group.name , group_path(group) , class: "_side_bar_group_name" %>
      <%= link_to group.name , group_path(group) , class: "_side_bar_group_name" %>
      <%= link_to group.name , group_path(group) , class: "_side_bar_group_name" %>
      <%= link_to group.name , group_path(group) , class: "_side_bar_group_name" %>
      <%= link_to "adfhakjdla;kjdfl;ajdflkadvnal;vjanmlvk;jalkrafjl;qijro;j;fjlafjgroup.name" , group_path(group) , class: "_side_bar_group_name" %>
    <% end %>
  </div>

  <div class = "_side_bar_bottom">
    <%= link_to "ルームを作成する" , new_group_path %><br>
    <%= link_to "トップページへ戻る" , "/" , class: "_side_bar_back" %>
  </div>
</div>