<h3>ルームを作成する</h3>
<%= form_with url: groups_path , method: :post , model: @group , local: true do |f| %>
  <%= f.label :name , "グループ名" %><br>
  <%= f.text_field :name  %>

  <h3>メンバーの人数</h3>
  <input type="number">

  <p>招待するユーザー</p>

  <%= f.label :user , "追加するユーザー" %><br>
  <input type="hidden" name= "group[user_ids][]" value= <%= current_user.id %> >
  <select class="authority_select" name="group[user_ids][]" id="group_authority_id" >
    <% @users.all.each do |user| %>
      <option><%= user.nickname %></option>
    <% end %>
  </select><br>

  <%= f.label :authority_id , "権限レベル" %><br>
  <select class="authority_select" name="group[authority_ids][]" id="group_authority_id">
    <% @authorities.each do |authority| %>
      <option><%= authority[:name] %></option>
    <% end %>
  </select>
  <%# 上のselectは、↓ を参考に作った したのもののコメントアウトを外すことはまずない %>
  <%# <%= f.collection_select(:authority_id , Authority.all , :id , :name , {} , {class: "authority_select"} ) %>
<% end %>