<%= stylesheet_link_tag "groups/new" , :media => "all" %>

<div class = "background">
    <div class = "center_object">
      <p class = "title">ルームを作成する</p>
      <%= form_with url: groups_path , method: :post , model: @group_group_user_relation , local: true do |f| %>
        <div class = "name single_box">
          <%= f.label :name , "グループ名" %><br>
          <%= f.text_field :name  %>
        </div>

        <div class = "explain single_box">
          <%= f.label :explain , "グループの説明" %><br>
          <%= f.text_area :explain %>
        </div>

        <div class = "single_box">
          <p>メンバー：<input type="number" class = "member_amount">人</p>
          
        </div>

        <%= f.label :user , "追加するユーザー" %><br>
          <input type="hidden" name= "group_group_user_relation[user_ids][]" value= <%= current_user.id %> >
          <input type="hidden" name= "group_group_user_relation[authority_ids][]" value = "5" >

        <div class = "members_box single_box">
          <select class="authority_select" name="group_group_user_relation[user_ids][]">
            <% @users.all.each do |user| %>
              <option value = <%= user.id %> ><%= user.nickname %></option>
            <% end %>
          </select>
          
          <div class = "authority_box">
            <%= f.label :authority_id , "権限：" %>
            <select class="authority_select" name="group_group_user_relation[authority_ids][]">
              <% @authorities.each do |authority| %>
                <option value = <%= authority[:id] %>><%= authority[:name] %></option>
              <% end %>
            </select>
            <%# 上のselectは、↓ を参考に作った ↓のもののコメントアウトを外すことはまずない %>
            <%# <%= f.collection_select(:authority_id , Authority.all , :id , :name , {} , {class: "authority_select"} ) %>
          </div>
        </div>

      <%= f.submit "作成する" , class: "common_simple_button" %>
      <% end %>
  </div>
</div>

