<%= stylesheet_link_tag "groups/common" , :media => "all" %>

<%= image_tag "back_button.png" , class: "hidden" , id: "for_get_back_button" %>

<div class = "parent">
  <%= render partial: "groups/side_bar" , locals: {user: @user} %>
  <%= render partial: "groups/main_bar" , locals: {is_show: @is_show , group: @group , message: @message , is_edit: @is_edit , authority: @authority} %>
</div>

<%= stylesheet_link_tag "groups/show" , :media => "all" %>