<%= stylesheet_link_tag "users/common" , :media => "all" %>
<%= stylesheet_link_tag "top/index", :media => "all" %>
<%= stylesheet_link_tag "users/index" , :media => "all" %>
<%= render partial: "shared/header/root_header" , locals: {title: "Runba's Home"} %>

<div class = "background">
  <div class = "center_object">
    <p class= "title">アカウントページ</p>
    <% if user_signed_in? %>
      <li class = "situation">現在、<%= "#{current_user.nickname}でログイン中" %></li>
      <li><%= link_to 'ログアウト' , destroy_user_session_path , method: :delete , class: "common_simple_button logout_button" %></li>
    <% else %>
      <p>ログインしていません</p>
      <div class = "inner_account_parent">
        <li class = "login inner_account"><%= link_to 'ログイン' , new_user_session_path %></li>
        <li class = "new inner_account"><%= link_to "新規登録" , new_user_registration_path %></li>
      </div>
      <%= link_to "Facebookで登録", user_facebook_omniauth_authorize_path, method: :post , class: "foreign_account facebook"%>
      <%= link_to "Googleで登録", user_google_oauth2_omniauth_authorize_path, method: :post , class: "foreign_account google"%>
    <% end %>
  </div>
</div>

