<%# <%= stylesheet_link_tag "users/common" , :media => "all" %> %>
<%= stylesheet_link_tag "top/index", :media => "all" %>
<%# <%= stylesheet_link_tag "users/index" , :media => "all" %> %>
<%= stylesheet_link_tag "users/show" , :media => "all" %>
<%= render partial: "shared/header/root_header" , locals: {title: "Runba's Home"} %>

<div class = "main_content_parent">
  <div class = "main_content">
    <% breadcrumb :user_show , @user.id %>
    <%= breadcrumbs separator: "&rsaquo; " %>
    <div class = "user_information">
      <div class = "only_border"></div>
      <% if @user.background_image.attached? %>
        <%= image_tag @user.background_image , class: "top_image" %>
      <% else %>
        <%= image_tag "defaults/user_background.png" , class: "top_image" %>
      <% end %>

      <div class = "icon_and_name_parent">
        <div class = "icon_and_name">
          <div class = "show_user_icon_parent">
            <% if @user.icon_image.attached? %>
              <%= image_tag @user.icon_image , class: "show_user_icon" %>
            <% else %>
              <%= image_tag "defaults/user_icon_image.png" , class: "show_user_icon" %>
            <% end %>
            </div>
          <div class = "names">
            <p class = "nickname"><%= @user.nickname %></p>
            <p class = "account_name"><%= @user.account_name %></p>
          </div>
        </div>

        <% if user_signed_in? %>
          <% if current_user == @user %>
            <div class = "edit_button_parent show_more_than_650px">
              <%= link_to "編集" , edit_user_path(@user) , class: "edit_button for_only_edit_button" %>
              <%= link_to "ログアウト" , destroy_user_session_path , method: :delete , class: "edit_button logout_button" %>
            </div>

            <div class = "show_controlled_button_parent hidden" id = "show_controlled_button_parent">
              <%= link_to "プロフィール編集" , edit_user_path(@user) , class: "show_controlled_button" %>
              <%= link_to "ログアウト" , destroy_user_session_path , method: :delete , class: "show_controlled_button" %>
              <p class = "close_button show_controlled_button">閉じる</p>
            </div>

            <div class = "hidden show_less_than_650px angle-down_parent" id = "angle-down_parent">
              <i class="fas fa-angle-down"></i>
            </div>
          <% else %>
            <div class = "edit_button_parent follow_button_parent">
              <% if @check_follow == nil %>
                <%= link_to "フォロー" , user_followers_path(@user) , method: :post , class: "edit_button follow_button" %>
              <% else %>
                <%= link_to "フォロー解除" , user_follower_path(@user , current_user.id) , method: :delete , class: "edit_button follow_button destroy_follow" %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class = "only_border"></div>
      <% if @user.explain != "" %>
        <p class = "information_explain"><%= @user.explain.gsub(/\n|\r\n/, "<br>").html_safe %>
      <% else %>
        <p class = "information_explain nil_explain">自己紹介はまだ作成されていません！
          <% if user_signed_in? %>
            <% if current_user != @user %>
              <br>もし興味があったらチャットなどで伝えてあげよう！
            <% else %>
              <br>作成して自分がどんな人かを他の人に伝えよう！
            <% end %>
          <% end %>


        </p>
      <% end %>
    </div>
  </div>
</div>