<%# フッターの部分で呼び出したことがある %>
<%= stylesheet_link_tag "shared/stage_link" , :media => "all" %>

  <div class = "_stage_link_links <%= individual_class %>">

    <%= link_to link , class: "_stage_link_a" , id: id do %>
      <% if image != nil %>
        <%= image_tag image , alter: "#{image}という画像はありません" , class: "_stage_link_image" %>
      <% else %>
        <%= image_tag "picture_not_find.png" , class: "_stage_link_image" %>
      <% end %>

      <div class = "_stage_link_explain">
        <p><%= title %></p>
        <p><%= explain %></p>
      </div>
    <% end %>
  </div>