<%# ここの内容はshow.scssから調整されている %>
        <%  if request.status == 0 
              status = nil
              color_class = "untreated_color"
            elsif request.status == 1
              status = "received"
              color_class = "received_color"
            elsif request.status == 2
              status = "finished"
              color_class = "finished_color"
            end
        %>
        <div class = "single_request_parent">

        <div class = "single_request <%= color_class %> request_class_<%= request.id %>">
          <div class="single_user">
            <div class = "user_icon_parent">
              <% if request.request_creater.icon_image.attached? %>
                <%= image_tag request.request_creater.icon_image , class: "user_icon_image" %>
              <% else %>
                <%= image_tag "defaults/user_icon_image.png" , class: "user_icon_image" %>
              <% end %>
            </div>
            <p class="user_nickname"><%= request.request_creater.nickname %></p>
          </div>

        <%# request_contentとopen_all_text_buttonの順番を変えるとopen_sort内の処理に影響が出る、順番は極力変えない %>
        <p class="request_content"><%= request.text %></p>
        <p class = "common_simple_button open_all_text_button">全文を見る</p>

          <% if request.user == current_user %>
            <div class = "control_buttons">
              <%= link_to "/users/#{request.user.id}/all_user_requests/#{request.id}/finished" , method: :put , class: "control_button_link" do %>
                <i class="fas fa-award control_button_awesome"></i>完了
              <% end %>

              <%= link_to "/users/#{request.user.id}/all_user_requests/#{request.id}/received" , method: :put , class: "control_button_link" do %>
                <i class="fas fa-check control_button_awesome"></i>採用する
              <% end %>

              <%= link_to user_all_user_request_path(request.user , request) , method: :delete , class: "control_button_link" do %>
                <i class="fas fa-times control_button_awesome"></i>この世から消し去る
              <% end %>
            </div>
          <% end %>

          <p class = "now_status now_status_<%= request.id %>">現在の状況：
          
            <%  if status == nil %>
                未処理
            <% elsif status == "finished" %>
              <i class="fas fa-award status_awesome"></i></i>完了！
            <%elsif status == "received" %>
              <i class="fas fa-check status_awesome"></i>採用！
            <% end %>
            
            <% if request.time_difference != nil %>
              <p style = "display:inline-block;padding-right:10px;min-width:150px;">作成：<%= request.time_difference %></p>
            <% else %>
              <p style = "display:inline-block;padding-right:10px;">作成日時：<%= l request.created_at %></p>
            <% end %>
            <p style = "display:inline-block;">リクエストID：<%= request.id %></p>
          </p>
      </div>
        </div>