<%= render partial: "shared/header/root_header" , locals: {title: "リクエストボックス"} %>
<%= stylesheet_link_tag "all_user_requests/common" , media: "all" %>
<%= stylesheet_link_tag "all_user_requests/index" , media: "all" %>

<div class = "main_content_parent">
  <div class = "main_content">
    <p class = "section_title">ユーザー一覧</p>
    <%= link_to "マイページへ" , user_all_user_request_path(current_user , "all") , class: "my_page_link" %>

    <%= form_with url: user_search_user_all_user_requests_path("user_search") , local: true , method: :get , class: "search_form" do |f| %>
      <%= f.text_field :keyword , placeholder: "ユーザーを検索する" , class: "search_input" %>
      <%= f.submit "検索" , class: "search_submit" %>
    <% end %>

    <div class = "user_parent">
      <% if @searched_users != nil %>
        <% if @searched_users.length != 0 %>
          <p class = "small_section_title">検索結果</p>
        <% end %>
        <% @searched_users.each do |user| %>
          <% if current_user != user %>
            <%= render partial: "single_user" , locals: {user: user} %>
          <% end %>
        <% end %>
        <% if @searched_users.length != 0 %>
          <p class = "small_section_title">ユーザー一覧</p>
        <% end %>
      <% end %>

      <% @users.each do |user| %>
        <% if user != current_user %>
          <%= render partial: "single_user" , locals: {user: user} %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

