
<%= render partial: "shared/header/root_header" , locals: {title: "リクエストボックス"} %>

<div class = "main_content_parent">
  <div class = "main_content">
    <% if params[:user_id] != "index" %>
      <p class = "section_title"><%= @user.nickname %>のリクエストボックス</p>
      <% @user.all_user_requests.each do |request| %>
        <%= link_to user_all_user_request_path(@user , request) do %>
          <p><%= request.text %></p>
        <% end %>
      <% end %>
    <% else %>
      <p class = "section_title">ユーザー一覧</p>
      <% @users.each do |user| %>
        <% if user != current_user %>
          <%= link_to new_user_all_user_request_path(user) do %>
            <p><%= user.nickname %></p>
          <% end %>
        <% end %>
      <% end %>
      <%= link_to "マイページへ" , user_all_user_request_path(current_user , "all") %>
    <% end %>
  </div>
</div>

