
<%= render partial: "shared/header/root_header" , locals: {title: "リクエストボックス"} %>
<%= stylesheet_link_tag "all_user_requests/common" , media: "all" %>
<%= stylesheet_link_tag "all_user_requests/show" , media: "all" %>

<div class = "main_content_parent">
  <div class = "main_content">
    <p class = "section_title"><%= @user.nickname %>のマイページ</p>
    <% if @user.all_user_requests.length != 0 %>
      <%= form_with url:search_user_all_user_requests_path("search") , local: true , method: :get do |f| %>
        <%= f.text_field :keyword , placeholder: "リクエストを検索するにはこれを使用してください" %>
        <%= f.submit "検索" %>
      <% end %>
      <% if @searched_requests != nil %>
        <%= render partial: "request" , collection: @seached_requests %>
      <% end %>
      ここまで検索結果
      <%= render partial: "request" , collection: @user.all_user_requests %>
    <% else %>
      <p class = "no_requests">まだリクエストは届いていません！</p>
    <% end %>
  </div>
</div>
