
<%= render partial: "shared/header/root_header" , locals: {title: "リクエストボックス"} %>

<div class = "main_content_parent">
  <div class = "main_content">
    <p class = "section_title"><%= @user.nickname %>のマイページ</p>
    <% @user.all_user_requests.each do |request| %>
      <div>
        <% creater = User.find(request.request_creater_id) %>
        投稿者：<%= creater.nickname %>
        <%= request.text %>
        <% if request.user == current_user %>
          <%= link_to "完了" , "/users/#{request.user.id}/all_user_requests/#{request.id}/finished" , method: :put %>
          <%= link_to "採用する" , "/users/#{request.user.id}/all_user_requests/#{request.id}/receive" , method: :put %>
          <%= link_to "この世から消し去る" , user_all_user_request_path(request.user , request) , method: :delete %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
