
<%= render partial: "shared/header/root_header" , locals: {title: "リクエストボックス"} %>

<div class = "main_content_parent">
  <div class = "main_content">
    <p class = "section_title"><%= @user.nickname %>のマイページ</p>
    <% @user.all_user_requests.each do |request| %>
      <% creater = User.find(request.request_creater_id) %>
      投稿者：<%= creater.nickname %>
      <%= request.text %>
      <%= request.user.nickname %>
      <% if request.user == current_user %>
        <%= link_to "完了" , "/users/#{request.user.id}/all_user_requests/#{request.id}/finished" , method: :put %>
        <%= link_to "見なかったことにする" , "/users/#{request.user.id}/all_user_requests/#{request.id}/finished" , method: :put %>
      <% end %>
    <% end %>
  </div>
</div>
