<%= stylesheet_link_tag "stickman_war_characters/avility_list" %>

<table border="1" class = "character_detail_avility_show_table">
  <tr>
    <td><div class = "avility_title"><i class="fas fa-user-shield avility_show_icon avility_icon"></i>ガード</div></td><td class = "this_character_able"><%= guard %></td>
  </tr>
  <tr>
    <td><div class = "avility_title"><i class="fas fa-wind avility_icon"></i>回避</td></div><td class = "this_character_able"><%= avoid %></td>
  </tr>
  <tr>
    <td><div class = "avility_title"><%= image_tag "stickman_war_character/avility_icon/arrow.png" , class: "avility_icon" %>超遠距離攻撃</div></td><td class = "this_character_able"><%= long_attack %></td>
  </tr>
  <tr>
    <td><div class = "avility_title"><i class="fas fa-fire avility_icon"></i>最期の一撃</div></td><td class = "this_character_able"><%= death_attack %></td>
  </tr>
</table>