<%= stylesheet_link_tag "skill_room/common" , :media => "all" %>
<%= stylesheet_link_tag "skill_room/index" , :media => "all" %>
<%= render partial: "shared/header/root_header" , locals: {title: "スキルルーム"} %>
<div class = "main_content_parent">
  <div class = "main_content">
    <p class = "section_title">一覧ページ</p>
    <p class = "small_section_title">それぞれの言語や創作物について</p>
    <div class = "language_explain_parent">
      <%= render partial: "language_link" , locals: {languages: SkillAllLanguage.all } %>
    </div>
    <p class = "small_section_title">JQueryの練習（見た目を整えていません）</p>
    <% SkillJquery.all.each do |jquery| %>
      <%= link_to "/skill_room/jquery_practice/#{jquery.id}" do%>
        <p><%= jquery.id %>.<%= jquery.title %></p>
        <p><%= jquery.explain %></p>
      <% end %>
    <% end %>
  </div>
</div>