<%= render partial: "shared/header/root_header" , locals: {title: "スキルルーム"} %>
<%= stylesheet_link_tag "skill_room/show" , :media => "all" %>
<%= stylesheet_link_tag "skill_room/common" , :media => "all" %>
<div class = "main_content_parent">
  <div class = "main_content">
    <%# 言語の説明の部分 %>
    <% if @html_css_explain %>
      <%= render partial: "skill_room/explain/html_css" %>
    <% elsif @javascript_explain %>
      <%= render partial: "skill_room/explain/javascript" %>
    <% elsif @ruby_on_rails_explain %>
      <%= render partial: "skill_room/explain/ruby_on_rails" %>
    <% elsif @unity_explain %>
      <%= render partial: "skill_room/explain/unity" %>

    <%# jQueryの練習の部分 %>
    <% elsif @jquery_practice %>
      <p class = "section_title" id="jquery_practice_<%= params[:id] %>">JQuery練習<%= params[:id] %></p>
      <div class = "practice_center_object">
        <%= render partial: "skill_room/jquery_practice/#{params[:id]}" %>
      </div>

    <%# スクリプトを使用してページに不要な変化を加えまくる部分 %>
    <% elsif @skill_play_room %>
      <% if params[:id] == "0" %>
        <p class = "section_title" >技術の無駄遣い</p>
      <%= render partial: "skill_play_room_link" , locals: {title:"未開拓" , link: "/skill_room/skill_play_room/0", explain:"作成中です（押してもページ移動はしません）" , image: nil     } %>
      <%= render partial: "skill_play_room_link" , locals: {title:"未開拓" , link: "/skill_room/skill_play_room/0", explain:"作成中です（押してもページ移動はしません）" , image: nil     } %>
      <%= render partial: "skill_play_room_link" , locals: {title:"未開拓" , link: "/skill_room/skill_play_room/0", explain:"作成中です（押してもページ移動はしません）" , image: nil     } %>
      <% end %>

    <% end %>
    <%= link_to "戻る" , skill_room_index_path , class: "common_simple_button" %>
  </div>
</div>