<p class = "small_section_title">どんなサイト？</p>
<div class = "explain_box">
  <div class = "individual_explain">
  　ピクトグラムや様々なアイコン、シルエットや鳥獣戯画風の画像などなど、様々な素材を無料で使用することができる。いろんな素材があるからめちゃくちゃ便利。<br>
  <%= image_tag "materials/topecon_heroes/explain_1.png" , class: "explain_image" %>
  <p class = "image_explain">よくSCPの解説の時に現れるピクトグラムや、</p>
  <%= image_tag "materials/topecon_heroes/explain_2.png" , class: "explain_image" %>
  <p class = "image_explain">棒バトチャレンジの中でもよく使われているアイコンの素材、</p>
  <%= image_tag "materials/topecon_heroes/explain_3.png" , class: "explain_image" %>
  <p class = "image_explain">使用用途が限られるものもあるがこのようなシルエットの素材、</p>
  <%= image_tag "materials/topecon_heroes/explain_4.png" , class: "explain_image" %>
  <p class = "image_explain">よく使えそうな、吹き出しの素材などなど様々なものがある。</p>
  <%= image_tag "materials/topecon_heroes/explain_5.png" , class: "explain_image" %>
  <p class = "image_explain">画面上部の、この部分をクリックすることで表示する画像のタイプを切り替えることができる。一つのサイトに様々なシステムを組み込んでいるような形だと思われる。</p>
  </div>
</div>

<p class = "small_section_title">欠点</p>
<div class = "explain_box">
  <div class = "individual_explain">
  <span class = "yellow_under_line">　横幅を変更した時に見た目が崩れることがある。</span>ある程度の対策が組まれているものの完璧と言えるほどではない。パソコンなどの横幅が大きなデバイスから見る分にはそれほど問題はないが、スマホのような横幅の小さなものでこのサイトを開くと、横方向へのスクロールを行った時にかなり見た目が崩れてしまう。<br>
  <%= image_tag "materials/public_domain_q/domain_q_weekness.png" , class: "explain_image" %>
  <p class = "image_explain">凄まじい量に表示される広告。下の方に少しだけ見えるのが、ダウンロードすることができる画像である。</p>
  </div>
</div>