<p class = "small_section_title">どんなサイト？</p>
<div class = "explain_box">
  <div class = "individual_explain">
  　いろんなところで見かけるポップなイラストの素材が大量にあるサイト。「これは流石にないよな…」という感じの内容でも検索してみると出てくるのがこのサイトのすごいところ。ポップな絵柄がページやニュースなどで使われていたら、100％といっても過言ではないほどイラスト屋の素材である。<br>
  <%= image_tag "materials/irasutoya/explain1.png" , class: "explain_image" %>
  <p class = "image_explain">キャベツを食べるウニの素材や、</p>
  <%= image_tag "materials/irasutoya/explain2.png" , class: "explain_image" %>
  <p class = "image_explain">汎用性の高そうなワニの素材、</p>
  <%= image_tag "materials/irasutoya/explain3.png" , class: "explain_image" %>
  <p class = "image_explain">ネタ動画でよくみるマッチョの素材や</p>
  <%= image_tag "materials/irasutoya/explain4.png" , class: "explain_image" %>
  <p class = "image_explain">タイムリー（この素材が作られたとき）なNFTアートの素材、</p>
  <%= image_tag "materials/irasutoya/explain5.png" , class: "explain_image" %>
  <p class = "image_explain">よくみるこんな感じの家族が喜ぶ素材もある。</p>
  </div>
</div>

<p class = "small_section_title">欠点</p>
<div class = "explain_box">
  <div class = "individual_explain">
  <span class = "yellow_under_line">　正直なところ欠点が見つからない。</span>強いていうならば、画像サイズを選択した時に別ウィンドウで開かれるのがちょっと不快なところかも。逆に言えばそれ以外の欠点が見当たらないため、かなり素晴らしいサイトだと言えるだろう。<br>
  </div>
</div>