<p class = "small_section_title">どんなサイト？</p>
<div class = "explain_box">
  <div class = "individual_explain">
  　いろんな風景や、画像を加工する上でその素材として使えるようなイラストがある。また、シンプルな背景などもあり非常に便利。<br>
  <%= image_tag "materials/beiz_images/explain1.png" , class: "explain_image" %>
  <p class = "image_explain">普通に質の高い川の画像や</p>
  <%= image_tag "materials/beiz_images/explain2.png" , class: "explain_image" %>
  <p class = "image_explain">旅行サイトにありそうな風景の画像、</p>
  <%= image_tag "materials/beiz_images/explain3.png" , class: "explain_image" %>
  <p class = "image_explain">100ワニのラストシーンっぽい感じの桜の画像、</p>
  <%= image_tag "materials/beiz_images/explain4.png" , class: "explain_image" %>
  <p class = "image_explain">中央に別の画像を配置することで豪華にすることができそうな額縁の画像、</p>
  <%= image_tag "materials/beiz_images/explain5.png" , class: "explain_image" %>
  <p class = "image_explain">シンプルなものの汎用性の高そうな豪華な感じの黄色い背景など、様々な素材がある。</p>
  <%= image_tag "materials/beiz_images/explain6.png" , class: "explain_image" %>
  <p class = "image_explain">さらに、ダウンロードする画像サイズを変更することができる。動画や画像編集の中でそれほど綺麗なものでもない場合には小さな画像を、画像一枚だけを楽しみたいという場合は質の高い大きな画像をダウンロードすることができる。</p>
  </div>
</div>

<p class = "small_section_title">欠点</p>
<div class = "explain_box">
  <div class = "individual_explain">
  <span class = "yellow_under_line">　正直なところ欠点が見つからない。</span>強いていうならば、画像サイズを選択した時に別ウィンドウで開かれるのがちょっと不快なところかも。逆に言えばそれ以外の欠点が見当たらないため、かなり素晴らしいサイトだと言えるだろう。<br>
  </div>
</div>