<%# 引数 link: リンク先 , title: 表示するタイトル , image: 表示する画像の名前、画像はapp > assets > images に入れておく %>
<%= stylesheet_link_tag "material/top_link" , :media => "all" %>

  <div class = "_top_link_links _top_link_more_than_800px extend_show_object" style = "opacity:0;">
    <%= link_to link , class: "_top_link_a" do %>
      <% if image != nil %>
        <div class = "_top_link_image" style = "background-image: url('<%= URI("/assets/#{image}") %>')"></div>
      <% else %>
        <div class = "_top_link_image" style = "background-image: url('<%= URI("/assets/youtube/default.jpeg") %>')"></div>
      <% end %>

      <div class = "_top_link_explain">
        <p class = "_top_link_title_text"><%= title %></p>
        <p class = "_top_link_link_text common_simple_button"> >>説明へ</p>
      </div>
    <% end %>
  </div>

  <div class = "_top_link_links _top_link_less_than_800px extend_show_object"  style = "opacity:0;">
    <%= link_to link , class: "_top_link_a" do %>
      <div class = "_top_link_image_and_title">
        <% if image != nil %>
          <%= image_tag image , alter: "#{image}という画像はありません" , class: "_top_link_image" %>
        <% else %>
          <%= image_tag "picture_not_find.png" , class: "_top_link_image" %>
        <% end %>
        <p class = "_top_link_title_text"><%= title %></p>
      </div>

      <div class = "_top_link_explain">
        <p class = "_top_link_link_text common_simple_button"> >>説明へ</p>
      </div>
    <% end %>
  </div>