<%= render partial: "shared/header/root_header" , locals: {title: "素材一覧"} %>
<%= stylesheet_link_tag "material/common" , media: "all" %>
<%= stylesheet_link_tag "material/index" , media: "all" %>
<div class = "main_content_parent">
  <div class = "main_content">
    <p class = "section_title">素材一覧</p>
    <p class = "small_section_title">自作素材</p>
      <%= render partial: "top_link" , locals:{image: "stickman_war.png" , link: nil , title: "作成中！" , explain: @type } %>
    <p class = "small_section_title">外部サイトの優秀奴</p>

    <div class = "links_parent">
      <%= render partial: "top_link" , locals:{image: @icon_public_domain_q , link: "/materials/public_domain_q/#public_domain_q_tag" , title: "パブリックドメインQ" , explain: @type_public_domain_q } %>
      <%= render partial: "top_link" , locals:{image: @icon_mascle_plus , link: "/materials/:mascle_plus/#mascle_plus_tag" , title: "マッスルプラス" , explain: @type_mascle_plus } %>
      <%= render partial: "top_link" , locals:{image: @icon_nanasan_yuki , link: "/materials/nanasan_yuki/#nanasan_yuki_tag" , title: "七三ゆきのアトリエ" , explain: @type_nanasan_yuki } %>
      <%= render partial: "top_link" , locals:{image: @icon_topecon_heroes , link: "/materials/topecon_heroes/#topecon_heroes_tag" , title: "TOPECONHEROES" , explain: @type_topecon_heroes } %>
      <%= render partial: "top_link" , locals:{image: @icon_texture_ninja , link: "/materials/texture_ninja/#texture_ninja_tag" , title: "texture ninja" , explain: @type_texture_ninja } %>
      <%= render partial: "top_link" , locals:{image: @icon_beiz_images , link: "/materials/beiz_image/#beiz_image_tag" , title: "BEIZ images" , explain: @type_beiz_images } %>
      <%= render partial: "top_link" , locals:{image: @icon_irasutoya , link: "/materials/irasutoya/#irasutoya_tag" , title: "いらすとや" , explain: @type_irasutoya } %>
    </div>
  </div>
</div>