<%= render partial: "shared/header/root_header" , locals: {title: "素材一覧"} %>
<%= stylesheet_link_tag "material/common" , media: "all" %>
<%= stylesheet_link_tag "material/index" , media: "all" %>
<div class = "main_content_parent">
  <div class = "main_content">
    <p class = "section_title">素材一覧</p>
    <p class = "small_section_title">自作素材</p>
    <p class = "small_section_title">外部サイトの優秀奴</p>

    <div class = "links_parent">
      <%= render partial: "top_link" , locals:{image: nil , link: nil , title: "パブリックドメインQ" , explain: @all_user_request_explain } %>
      <%= render partial: "top_link" , locals:{image: nil , link: nil , title: "マッスルプラス" , explain: @all_user_request_explain } %>
      <%= render partial: "top_link" , locals:{image: nil , link: nil , title: "七三ゆきのアトリエ" , explain: @all_user_request_explain } %>
      <%= render partial: "top_link" , locals:{image: nil , link: nil , title: "TOPECONHEROES" , explain: @all_user_request_explain } %>
      <%= render partial: "top_link" , locals:{image: nil , link: nil , title: "texture ninja" , explain: @all_user_request_explain } %>
      <%= render partial: "top_link" , locals:{image: nil , link: nil , title: "BEIZ images" , explain: @all_user_request_explain } %>
      <%= render partial: "top_link" , locals:{image: "youtube/default.jpeg" , link: "https://www.irasutoya.com/" , title: "いらすとや" , explain: @all_user_request_explain } %>
    </div>
  </div>
</div>