<%= render partial: "shared/header/root_header" , locals: {title: "素材一覧"} %>
<%= stylesheet_link_tag "material/common" , media: "all" %>
<%= stylesheet_link_tag "shared/explain" , media: "all" %>
<div class = "main_content_parent">
  <div class = "main_content">
    <% if params[:id] == "public_domain_q" %>
      <%= render partial: "explain_table" , locals: {image: nil , name: "パブリックドメインQ" , material_type: "画像"} %>
      <%= render partial: "explain_public_domain_q" %>
      <%= render partial: "shared/link" , locals: {image: nil , title: "パブリックドメインQ" , link: nil , explain: nil} %>
    <% elsif params[:id] == "mascle_plus" %>
      <p class = "section_title">マッスルプラス</p>
      <%= render partial: "explain_table" , locals: {image: nil , name: "マッスルプラス" , material_type: "画像"} %>

    <% elsif params[:id] == "topeconheroes" %>
      <p class = "section_title">TOPECONHEROES</p>
      <%= render partial: "explain_table" , locals: {image: nil , name: "TOPECONHEROES" , material_type: "様々な種類の画像"} %>

    <% elsif params[:id] == "nanasan_yuki" %>
      <p class = "section_title">パブリックドメイン</p>
      <%= render partial: "explain_table" , locals: {image: nil , name: "パブリックドメインQ" , material_type: "画像"} %>

    <% elsif params[:id] == "texture_ninja" %>
      <p class = "section_title">texture ninja</p>
      <%= render partial: "explain_table" , locals: {image: nil , name: "texture ninja" , material_type: "画像"} %>

    <% elsif params[:id] == "beiz_images" %>
      <p class = "section_title">BEIZ images</p>
      <%= render partial: "explain_table" , locals: {image: nil , name: "BEIZ images" , material_type: "画像"} %>
    <% end %>
  </div>
</div>