<%= render partial: "shared/header/root_header" , locals: {title: "素材一覧"} %>
<%= stylesheet_link_tag "material/common" , media: "all" %>
<%= stylesheet_link_tag "shared/explain" , media: "all" %>
<%= stylesheet_link_tag "material/show" , media: "all" %>
<div class = "main_content_parent">
  <div class = "main_content">
    <% if params[:id] == "public_domain_q" %>
      <p class = "section_title">パブリックドメインQ</p>
      <%= render partial: "explain_table" , locals: {image: @icon_public_domain_q , name: "パブリックドメインQ" , material_type: "実写、イラスト画像"} %>
      <%= render partial: "explain_public_domain_q" %>
      <%= render partial: "shared/link" , locals: {image: @icon_public_domain_q , title: "パブリックドメインQ" , link: nil , explain: nil} %>
    <% elsif params[:id] == "mascle_plus" %>
      <p class = "section_title">マッスルプラス</p>
      <%= render partial: "explain_table" , locals: {image: @icon_mascle_plus , name: "マッスルプラス" , material_type: "マッチョたちの実写画像"} %>
      <%= render partial: "explain_mascle_plus" %>
      <%= render partial: "shared/link" , locals: {image: @icon_mascle_plus , title: "マッスルプラス" , link: nil , explain: nil} %>

    <% elsif params[:id] == "topeconheroes" %>
      <p class = "section_title">TOPECONHEROES</p>
      <%= render partial: "explain_table" , locals: {image: @icon_topecon_heroes , name: "TOPECONHEROES" , material_type: "アイコン、ピクトグラムなど様々な画像"} %>
      <%= render partial: "explain_topecon_heroes" %>
      <%= render partial: "shared/link" , locals: {image: @icon_topecon_heroes , title: "TOPECONHEROES" , link: nil , explain: nil} %>

    <% elsif params[:id] == "nanasan_yuki" %>
      <p class = "section_title">七三ゆきのアトリエ</p>
      <%= render partial: "explain_table" , locals: {image: @icon_nanasan_yuki , name: "七三ゆきのアトリエ" , material_type: "イラスト画像"} %>
      <%= render partial: "explain_nanasan_yuki" %>
      <%= render partial: "shared/link" , locals: {image: @icon_nanasan_yuki , title: "七三ゆきのアトリエ" , link: nil , explain: nil} %>

    <% elsif params[:id] == "texture_ninja" %>
      <p class = "section_title">texture ninja</p>
      <%= render partial: "explain_table" , locals: {image: @icon_texture_ninja , name: "texture ninja" , material_type: "実写風のイラスト画像"} %>
      <%= render partial: "explain_texture_ninja" %>
      <%= render partial: "shared/link" , locals: {image: @icon_texture_ninja , title: "texture ninja" , link: nil , explain: nil} %>

    <% elsif params[:id] == "beiz_images" %>
      <p class = "section_title">BEIZ images</p>
      <%= render partial: "explain_table" , locals: {image: @icon_beiz_images , name: "BEIZ images" , material_type: "実写画像"} %>
      <%= render partial: "explain_beiz_images" %>
      <%= render partial: "shared/link" , locals: {image: @icon_beiz_images , title: "BEIZ images" , link: nil , explain: nil} %>
    <% end %>
  </div>
</div>