<%# 引数 link: リンク先 , title: 表示するタイトル , image: 表示する画像の名前、画像はapp > assets > images に入れておく %>
<%# 現時点ではlinkとimageはnil %>

<% if link != nil %>
  <div class = "links">
    <%= link_to link  do %>
      <% if image != nil %>
        <%= image_tag image , alter: "#{image}という画像はありません" %>
      <% end %>
      <div><%= title %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class = "links">
    <%= link_to  do %>
      <% if image != nil %>
        <%= image_tag image , alter: "#{image}という画像はありません" %>
      <% end %>
      <div><%= title %>
      </div>
    <% end %>
  </div>
<% end %> 