<%# 引数 link: リンク先 , title: 表示するタイトル , image: 表示する画像の名前、画像はapp > assets > images に入れておく %>
<%# 現時点ではlinkとimageはnil %>
<%= stylesheet_link_tag "movies/reccomend_movie_link" , :media => "all" %>

<% movies.each do |movie| %>
  <div class = "links">
    <%= link_to movie_path(movie) , class: "_reccomend_movie_a" do %>
      <% if movie.image != nil %>
        <%= image_tag image , class: "_reccomend_movie_image" %>
      <% else %>
        <%= image_tag "youtube/default.jpeg" , class: "_reccomend_movie_image" %>
      <% end %>
      <div class = "_reccomend_movie_text">
        <p class = "_reccomend_movie_title"><%= movie.title %></p>
        <p class = "_reccomend_movie_small_explain hide_scroll_bar"><%= movie.small_explain %></p>
        <p class = "_reccomend_movie_link common_simple_button">動画を見る >></p>
      </div>
    <% end %>
  </div>
<% end %> 