<!DOCTYPE html>
<html>
  <head>
    <title>RunbaHome</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <%= javascript_pack_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  </head>

  <body>
    <%= stylesheet_link_tag "magic.min" , :media => "all" %>
    <%= stylesheet_link_tag "shared/simple_link" , :media => "all" %>
    <%= stylesheet_link_tag "shared/common_header" , :media => "all"  %>
    <%= yield %>

    <% if @is_group == false && @is_request == false %>
      <%= render partial: "shared/footer" %>
    <% end %>
    
  </body>
</html>
